server:
  port: 8080

spring:
  datasource:
    url: ${DB_URL}
    username: ${DB_USER}
    password: ${DB_PASSWORD}
  jpa:
    hibernate:
      ddl-auto: create-drop
    properties:
      hibernate:
        format_sql: false

  flyway:
    enabled: false

logging:
  level:
    root: INFO

app:
  jwt:
    secret: ${JWT_SECRET:change-me-in-prod-change-me-in-prod}
    issuer: ${JWT_ISSUER:pairapp}
    access-token-ttl-minutes: ${JWT_TTL_MINUTES:720}
  telegram:
    bot-token: ${TELEGRAM_BOT_TOKEN:8555778813:AAGysmShHUeJtJQaS1ng672a8FN65n-BX1E}
    auth-max-age-seconds: ${TELEGRAM_AUTH_MAX_AGE_SECONDS:300}
    bot-username: ${TELEGRAM_BOT_USERNAME:pairapptestbot}
    mini-app-name: ${TELEGRAM_MINI_APP_NAME:}
    webhook-secret: ${TELEGRAM_WEBHOOK_SECRET:local-secret-123}

springdoc:
  api-docs:
    path: /api-docs
  swagger-ui:
    path: /swagger-ui.html
